/* CSS file */
.ion-page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  transition: transform 0.3s ease;
}

.ion-page.ion-page-enter,
.ion-page.ion-page-leave {
  transform: translateX(100%);
}

.ion-page.ion-page-enter-active,
.ion-page.ion-page-leave-active {
  transform: translateX(0);
}

body {
  margin: 0 !important;
}

ion-toast.custom-toast::part(message) {
  font-size: 15px;
}

.typewriter-animation {
  animation: typing 2.9s steps(20, end);
  overflow: hidden;
  display: inline-block;
}

ion-accordion {
  margin: 0 auto;
}

/* 
ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
} 
*/

.emoji {
  font-size: 5em;
}
.img-responsive {
  max-width: 100px;
  max-height: 100px;
}

.text-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#vibrating-text {
  font-size: 36px;
  position: relative;
}



.grid-container {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px; /* Adjust the gap as needed */
  width: 100%;
  height: 100%;
}

.grid-item {
  border: 1px solid #ccc; /* Optional: Add borders for visualization */
  position: relative;
  width: 100%;
  height: 100%;
}

.background-item {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%; /* Set width and height to 100% to cover the container */
  height: 100%;
  transform: rotate(deg);
  /* background-position: top left; */
  opacity: 0.5; /* Set your desired opacity value */
}
.grid-item {
  grid-column: span 1;
  grid-row: span 1;
  /* Set position to relative for absolute positioning */
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Adjust width to cover two columns */
  height: 100%;
  /* background-image: url("../../../assets/milkyway.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

/* Set specific styles for the first and second columns */
.grid-item:nth-child(1)::before,
.grid-item:nth-child(2)::before {
  width: 400%; /* Adjust width to cover four columns */
}

/* <div class="container">
  <div class="photo">
    <img src="https://www.svgrepo.com/show/300968/monitor-graph.svg" />
  </div>
  <div class="info">info</div>
  <div class="tag">tag</div>
  <div class="comment">comment</div>
  <div class="album">album</div>
  <div class="rotate">rotate</div>
</div> */
ion-title.title-large {
  color: #ef8561;
  font-weight: bold;
  font-family: "Baloo", sans-serif;
  /* font-size: 30px; */
}

ion-title {
  --color: #ef8561;

  /* font-size: 5vm; */
  /* word-spacing: 29px; */
  font-family: "Baloo", sans-serif;
  letter-spacing: 5px;
}

ion-title div {
  margin: 10px;
}

/* Media query for screens narrower than 600px */
@media screen and (max-width: 600px) {
  ion-title {
    font-size: 12px;
    letter-spacing: 5px;
    /* margin-right:20px; */
  }
  ion-title div {
    margin: 10px;
  }
}

/* Media query for screens narrower than 400px */
/* @media screen and (max-width: 400px) {
  ion-title {
    font-size: 18px;
    letter-spacing: 2px;
  }
} 
*/


.container {
  display: grid;
  /* position:absolute; */
  z-index: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40vh 30vh 30vh;
  grid-gap: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  grid-template-areas:
    "info    photo photo photo   photo"
    "comment photo photo photo   photo"
    "comment tag     tag   album rotate";
}

.photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.info {
  grid-area: info;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%; /* Set width and height to 100% to cover the container */
  height: 100%;
  position: relative;
}

.tag {
  grid-area: tag;
  /* background: teal; */
  /* background-image:ur('https://www.svgrepo.com/show/300968/monitor-graph.svg'); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%; /* Set width and height to 100% to cover the container */
  height: 100%;
  position: relative;
}

.comment {
  grid-area: comment;
  /* background: green; */
}

.album {
  grid-area: album;
  /* background: red; */
}

.rotate {
  grid-area: rotate;
  /* background: blue  */
}

/* .highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
 
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
} */

div.tooltip {
  /*     position: absolute;
      text-align: left;
      width: 300px;
      height: auto;
      padding: 2px;
      font: 13px sans-serif;
      background: white;
      border-radius: 8px;
      pointer-events: none;
      padding: 10px;
      border: 1px solid #333;
      pointer-events: none; */

  position: absolute;
  text-align: left;
  width: 300px;
  height: auto;
  padding: 2px;
  font: 13px sans-serif;
  background: white;
  border-radius: 12px;
  border-top-left-radius: 0;
  pointer-events: none;
  padding: 16px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.word-hovered {
  font-weight: bold;
}

mark {
  padding: 1px 3px;
  margin: 2px;
  line-height: 1;
  display: inline-block;
  border-radius: 2px;
  background: #fc3;
}

/* .legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
} 
*/

.legend-item {
  /* display: flex; */

  grid-template-columns: 19% auto;
  display: grid;

  /* margin-right: 20px; */
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}

.legend-text {
  font-size: 16px;
}

.color-box.color-1 {
  background-color: #ff5733;
}

.color-box.color-2 {
  background-color: #33ff77;
}

.color-box.color-3 {
  background-color: #3377ff;
}

/*  */

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #d70206;
}

.ct-line.ct-threshold-above,
.ct-point.ct-threshold-above,
.ct-bar.ct-threshold-a2ove {
  stroke: #f05b4f;
  stroke-dasharray: 2px;
  animation: dash 3s linear infinite;
  opacity: 0.8;
}

.ct-line.ct-threshold-below,
.ct-point.ct-threshold-below,
.ct-bar.ct-threshold-below {
  stroke: #59922b;

  stroke-dasharray: 2px;
  animation: dash 3s linear infinite;
  opacity: 0.8;
}

.ct-point {
  stroke-width: 0;
}
.ct-area.ct-threshold-above {
  fill: #f05b4f;
}

.ct-area.ct-threshold-below {
  fill: #59922b;
}

.ct-series-a .ct-bar.ct-threshold-above {
  stroke: #f05b4f;
}

.ct-series-a .ct-bar.ct-threshold-below {
  stroke: #59922b;
}

:root {
  --font-color-light: #333333; /* Default font color for light theme */
  --font-color-dark: #ffffff; /* Default font color for dark theme */
}
.ct-axis-title{
  overflow: visible;


    font-size: 15px;
    font-family: 'Baloo', sans-serif;
  letter-spacing: 3px;
 fill:#3E517A;
}

.ct-grid{
  stroke:rgba(131, 101, 1, 0.753); 
}
.ct-label{
  color:rgba(131, 101, 1, 0.753); 
}

@media (prefers-color-scheme: light) {
  .ct-grid{
    stroke:rgba(131, 101, 1, 0.653);  
      stroke-dasharray: 0.8px;
  }
} 

@media (prefers-color-scheme: dark) {
  .ct-grid{
    stroke:rgba(131, 101, 1, 0.173); 
 
  }
}


#ct-threshold-mask-above {
  stroke: #59922b;
}



@media screen and (max-width: 500px) {
  .ct-bar {
    stroke-width: 3px;
  }
}

.ct-slice-pie-above {
  fill: red;
  opacity: 0.5;
}
.ct-slice-pie-below {
  fill: green;
  opacity:0.5
}

.ct-bar-above {
  stroke: red;
  stroke-dasharray: 2px;
  stroke-width: 5px;
  animation: dash 3s linear infinite;
  opacity: 0.8;
}

.ct-bar-below {
  stroke: green;
  stroke-width: 5px;
  stroke-dasharray: 2px;
  animation: dash 3s linear infinite;
  opacity: 0.8;
}



/* 

.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
  stroke: #f05b4f;
  stroke-dasharray: 3;
  animation: dash 5s linear infinite;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  stroke: #59922b;
  stroke-dasharray: 3;
  animation: dash 5s linear infinite;

}

.ct-area.ct-threshold-above {
  fill: #f05b4f;

}

.ct-area.ct-threshold-below {
  fill: #59922b;


}

.ct-series-a .ct-bar.ct-threshold-above {
  stroke: #f05b4f;

}

.ct-series-a .ct-bar.ct-threshold-below {
  stroke: #59922b;

}
 

.ct-axis-title{
  

  overflow: visible;
}

@media screen and (max-width: 500px) {
.ct-bar{
  stroke-width: 3px;
}

}
}

*/
@keyframes dash {
  to {
    stroke-dashoffset: 50;
  }
}




















